*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#DivbelowVid
{
    width: 85%;
    margin: auto;
    margin-top: 2%;
}
.title{
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: #333333;
}
.Bread{
    margin-bottom: 2%;
}
.Art_title{
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #333333;
    margin: 2.5rem 0rem 1rem 0rem;
}
.article_body{
    font-family: Georgia, serif;
    font-weight: 400;
    color: #333333;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}
#centerbanner{
    height: 15%;
    margin-bottom: 2rem;
    border-radius:5px;
}
.threecard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 1fr;
    gap: 3%;
    margin-bottom: 2rem;
}
.threecard>div>img{
    border-radius: 5px;
}
.threecard>div>h4{
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}
.fourcard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 1fr;
    gap: 3%;
    margin-bottom: 2rem;
}
.fourcard>div>img{
    border-radius: 5px;
}
.fourcard>div>h4{
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}
.fourcard>div>p{
    font-family:-apple-system, helvetica, arial, sans-serif;;
    font-weight: 700;
    color: #ff6633;
    font-size: 0.7rem;
    line-height: 0.9rem;
    margin-top: 0.5rem;
}
#sixpic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.2%;
    border-radius: 20px;
}
#sixpic>img{
    border-radius: 5px;
}
.dividerbtn{
    margin-top: 0px;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 900px) {
    .threecard{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        gap: 3%;
        margin-bottom: 7rem;
    }
    .fourcard{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        gap: 3%;
        margin-bottom: 7rem;
    }
    }

    @media only screen and (min-width:425px) and (max-width: 900px) {
        .fourcard{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row: repeat(2,1fr);
            gap: 3%;
            margin-bottom: 7rem;
        }
    }
   