*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#DivbelowVid
{
    width: 85%;
    margin: auto;
    margin-top: 2%;
}
.title{
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: #333333;
}
.Bread{
    margin-bottom: 2%;
}
